.elements__like-button {
	height: 19px;
	width: 22px;
	padding: 0;
	border: none;
	background-color: transparent;
	align-self: center;
	transition: opacity 0.5s ease-out;
}

.elements__like-button_disabled {
	background-image: url("../../../images/__like-disabled.svg");
}

.elements__like-button_active {
	background-image: url("../../../images/__like-active.svg");
}

.elements__like-button:hover {
	opacity: 0.5;
	cursor: pointer;
}